{% extends "base.html"  %}


{% block body %}
        {% block header %}
        {% endblock %}
        <form action='/search'  method='get'>
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>
        <hr>

        <div class="grid-container">
        {% for id, title, channel in imgs %}
        <div class="grid-item">
        <p>
        <a href="/view?id={{id}}"><strong>{{title}}</strong></a></br>
        by <a href="/search?q=&channel={{channel}}">{{channel}}</a></p>
        </div>
        {% endfor %}
        </div>

{% endblock %}
