body {

    background-color: #0e5a3f;
    color: #a97eca;
}

.box {
    background-color: #597eca;
    color: #290e4a;
    /*height: 300;*/
    width: 600;
}


a:link, a:visited {
    color: gold;
    text-decoration: none;
}

a:hover, a:active {
    color: #7a0e29;
}

input {
    background-color: #5eaabf;
    border: none;
    color: #290e4a;
    padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 8px;
}




.linkbutton {
    background-color: #1df9c2;
    border: none;
    color: #290eaa !important;
    border: none;
      padding: 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 8px;
}

.linktitle:hover {
    color: #7a0e29 !important;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px;
  padding: 20px;
  text-align: center;
}




