
<html>
    <head>
        <title>Voice Pond</title>
        <link rel="stylesheet" href="css">
    </head>
    <body>
        <center><img src="/favicon.ico" width=128 height=83><img src="/favicon.ico" width=128 height=83><img src="/favicon.ico" width=128 height=83><img src="/favicon.ico" width=128 height=83><img src="/favicon.ico" width=128 height=83>
        <h1><a class="linktitle" href="/">Voice Pond</a></h1>
        <div class="box">
            {% block body %}

            {% endblock %}
        </div>
        </center>

        

    </body>
</html>
