{% extends "base-search.html"  %}


{% block header %}
<p>Welcome, comrade {{user}}  (<a href="/logout">Log Out</a>)</p>

<a class="linkbutton" href='/upload'>Upload Podcast</a></br>
<hr>
{% endblock %}





