{% extends "base-search.html"  %}


{% block header %}
    <center>
        <p>You are not logged in. Join the pond today!</p>
        <form action="/register" method="post">
            <p>
            Username:     <input type="text" name="username" required></br>
            Password:    <input type="password" name="password" required></br>
            </p>
            <input type="submit" value="log in" name="action"> or
            <input type="submit" value="register" name="action">      
        </form>
    </center>
{% endblock %}




