{% extends "base.html"  %}

{% block body %}

<h3> Reporting Issue </h3>
Please report any:
<ul>
<li> Bug </li>
<li> Video that is not respecting the BreadTube ideal </li>
<li> Problems with your experience </li>
</ul>

<form action="/issuer" method="post">
    Describe your issue: <input type="text" name="issue" required/></br>
    Email for response (optional): <input type="email" name="email"/></br>
    <input type="submit" value="Upload"/>
</form>

{% endblock %}
