{% extends "base.html"  %}


{% block body %}
    {% block content %}

    {% endblock %}
    <h3>Comments:</h3>
    <form action="{{address}}/comment" method="post">
        Post comment: <input type="text" name="comment" />
        <input type="submit" value="Post"/>
        <input type="hidden" value="{{video_id}}" name="video_id"/>
    </form>
    </br>
    <ul>
    {% for e in comments %}
    <li>{{ e }}</li>
    {% endfor %}
    </ul>
    </br>
{% endblock %}
