{% extends "base.html"  %}


{% block body %}
        <h1>Upload podcast</h1>
        <form action="/uploader" method="post" enctype="multipart/form-data">

            File: <input type="file" name="file" required/></br>
            Title: <input type="title" name="title" required/></br>
            <input type="submit" value="Upload"/>

        </form>
{% endblock %}


