 
{% extends "show.html"  %}


{% block content %}
</br>
<audio controls>
    <source src="{{address}}/static/uploads/{{video_id}}/audio">
    Your browser does not support audio
</audio>


<h3>{{title}}</h3>
Author: <a href="/search?q=&channel={{author}}">{{author}}</a></br>
Released on: {{release}}
</p>

{% endblock %}
